body
{
    margin: 0;
    padding: 0;
    color: #555;
    background: #E6E6FA;
}
a{
    color:#A52A2A;
}

h2 a{
    text-decoration:none;
}

#page
{
    margin-bottom: 5px;
    background: white;
}

#header
{
    margin: 0;
    padding: 0;
    
}

#content
{
    padding: 20px;
}

#sidebar
{
    
}

#footer
{
    padding: 10px;
    color:#ffffff;
    font-size: 0.8em;
    text-align: right;
    background: #8E000C;
    border-top:5px solid #000000;
}

#footer a
{
    font-weight:bold;
    color:#ffffff;
}

#logo
{
    
    font-size: 200%;
    background: url(header_1.jpg) no-repeat;
}

#mainmenu
{
    background:white url(bg.gif) repeat-x left top;
    padding:0;
    margin:0;
}

#mainmenu ul
{
    /*padding:6px 20px 5px 20px;*/
    padding:0 5px;
    margin:0;
}

#mainmenu ul li
{
    margin:0;
    padding:0;
    display: inline;
    line-height:30px;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:8px 15px;
    line-height:30px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    /*background-color:#EFF4FA;*/
    background: url(bg_hover.gif) repeat-x left top;
    text-decoration:none;
    line-height:30px;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #8E000C;
    border-left: 5px solid #000000;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    line-height:25px;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    
}


.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}


.sidemenu ul
{
    
}
.sidemenu li
{
    
}

.sidemenu a,.sidemenu a:visited
{
    text-decoration:none;
    font-weight:bold;
    line-height:20px;
    color:#000000;
    display:block;
    padding: 2px 8px;
}

.sidemenu a:hover, .sidemenu li.active a
{
    line-height:20px;
    color:#000000;
    display:block;
    padding: 2px 8px;
}



.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top:1em;
}

.operations li
{
    padding-bottom: 2px;
    display:inline;
}

.operations li a,.operations li a:visited
{
    font: 12px Arial;
    padding: 2px 0 2px 8px;
    line-height: 25px;
    text-decoration: none;
}

.operations li a:hover
{
    line-height: 25px;
    text-decoration: underline;
    
}

#portlet-register .row input
{
    /*float:right;*/
    width: 120px;
}
